.service-container{

}
.service-title{
    color: #2280C1;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 20px;   
}
.service-area{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.service-details-btn a{
    background-color: #2280C1;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 5px;
}
.service-details-btn a:hover{
    background-color: #F9A441;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 5px;
}