.login-bg{
    background-color: #EBF0F4;
}
.login-container{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 80px;
}
.login-icon{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-logo-login-page{
    width: 250px;
    
}
.login-form{
    width: 55%;
    border: 1px solid rgb(248, 248, 248);
    background-color: #fff;
    border-radius: 5px;
    margin-top: 75px;
    margin-bottom: 120px;
}
.from-divider{
    margin: 18px 0 18px 0;
}
.divider{
    width: 90%;
    margin: auto;
}
.email{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px 0 5px 12px;
}
.email input{
    width: 100%;
    margin: 20px 0 0 -10px;
    border: none;
    outline: none;
}
.password{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px 0 5px 12px;
}
.password input{
    width: 100%;
    margin: 20px 0 0 -38px;
    border: none;
    outline: none;
}
.login-form-field{
    width: 75%;
    margin: auto;
}
.form-title h2{
    width: 75%;
    margin: auto;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.login-btn{
    display: flex;
    justify-content: center;
    border: 1px solid gainsboro;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    cursor: pointer;
}
.login-btn:hover{
    display: flex;
    justify-content: center;
    border: 1px solid gainsboro;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1C3C6B;
    color: #fff;
}
.login-btn input{
    font-size: 17px;
    cursor: pointer;
}
.switch-register{
    margin: 25px 0 70px 0;
    text-align: center;
    font-size: 14px;
}
.switch-register span{
    font-weight: 600;
    color: #1C3C6B;
}
.social-login{
    display: flex;
    justify-content: center;
}
.social-login button{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid gainsboro;
    margin-top: 30px;
    padding: 10px 140px 10px 140px;
    border-radius: 5px;
}
.social-login button:hover{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid gainsboro;
    margin-top: 30px;
    padding: 10px 140px 10px 140px;
    border-radius: 5px;
    background-color: #1C3C6B;
    color: #fff;
}
.forget-button{
    padding: 35px 0 0 0;
}